.table-fixed tbody {
  height: 300px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
  float: left;
  position: relative;

  &::after {
      content: '';
      clear: both;
      display: block;
  }
}
body {
  background: #8b8b8f;
  background: -webkit-linear-gradient(to right, #c4adf0, #ACB6E5);
  background: linear-gradient(to right, #deff82, #ACB6E5);
  min-height: 100vh;

}

.citybutton{
  margin-left: 25em;
  padding: 10px;
  margin-bottom:1em;
  background-color: #0c39b6;
  font-weight: bolder;
  text-decoration-color:  #37dd0d ;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: aqua;
}

.map{
  position: relative;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 1px;

}

.list{
 background-color: aliceblue;
}

.headertext{
  color:  #129fd6;font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;

}

.jumbotron{
  background-color:  #fdfeff;
}